<style>
  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #da291c;
    color: white;
    font-weight: 600;
    padding: 0 20px;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  p {
    margin: 1em;
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <h1>{{ title }}</h1>
</div>

<!-- Content -->
<div class="content" role="main">
  <ol>
    <li>
      <p>Rest API Call output (URL, SEO title, descriptions and isNoIndex):</p>
      <div *ngFor="let entry of entries">
        <p>URL: {{ entry.url }}</p>
        <p>SEO:</p>
        <ul>
          <li>title: {{ entry.seo.title }}</li>
          <li>description: {{ entry.seo.description }}</li>
          <li>isNoIndex: {{ entry.seo.isNoIndex }}</li>
        </ul>
      </div>
    </li>
  </ol>
  <!-- Footer -->
  <footer>Author: Maria Leticia Leoncio Barbosa</footer>
</div>
