/* You can add global styles to this file, and also import other style files */

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: 'Roboto';
  color: #1f1f1f;
}

body,
p {
  font-size: 1.6rem;
}

@font-face {
  font-family: 'Roboto';
  src: url(assets/fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}
