<div>
  <!-- Filter input -->
  <div>
    <label for="filter-title" class="filter-label">Filter by title: </label>
    <input
      id="filter-title"
      type="search"
      [(ngModel)]="titleInput"
      class="filter"
      (ngModelChange)="fetchEntries()"
    />
  </div>
  <!-- Entry data -->
  <div
    *ngFor="
      let entry of jsonFromData
        | paginate
          : {
              itemsPerPage,
              currentPage,
              totalItems: graphQLEntries.total
            }
    "
    class="entry-container"
  >
    <div class="entry-row">
      <div class="entry-title-row">
        <a href="{{ entry.url }}" class="text-title-5">{{ entry.title }}</a>
        <span class="category">
          {{ getCategoriesValues(entry.category) }}
        </span>
      </div>
      <p class="description">
        {{ entry.description }}
      </p>
    </div>
  </div>
  <!-- Pagination -->
  <pagination-controls (pageChange)="changePage($event)"></pagination-controls>
</div>
